<!DOCTYPE html>
<html>
	<head>
		<title>Hololive Schedule Search</title>
	</head>
	<body>
		<h1>Hololive Schedule Search</h1>
		<form action="/report" method="POST">
			<input placeholder="singing" name="title"/>
			<button>Search</button>
			<br><br>
			<span>Check for Collab</span>	
			<fieldset>
				<input type="checkbox" name=member value="irys" checked/>
				<label for="irys">IRyS</label>
				<input type="checkbox" name=member value="pekora" checked/>
				<label for="pekora">Pekora</label>
				<input type="checkbox" name=member value="mio" checked/>
				<label for="mio">Mio</label>
			</fieldset>
		</form>
	</body>
</html>


