<!DOCTYPE html>
<html>
	<head>
		<title>Hololive Schedule Search</title>
		<style>
			section{
				display: grid;
				gap: 10px;
				grid-template-columns: repeat(5, 1fr);
			}
		</style>
	</head>
	<body>
		<h1>Search Results</h1>
		<h3>Found {{resultNo}} results</h3>
		<section>
			<h4>Title</h4>
			<h4>Streamer</h4>
			<h4>Date</h4>
			<h4>Time</h4>
			<h4>Thumbnail(Link)</h4>
			{% for stream in lists%}
				<span>{{stream.Title}}</span>
				<span>{{stream.Streamer}}</span>
				<span>{{stream.Date}}</span>
				<span>{{stream.Time}}</span>
				<a href="{{stream.Url}}" target="_blank"><img src="{{stream.Thumb}}"/></a>
			{% endfor %}
		<section>
	</body>
</html>


