<!DOCTYPE html>
<html>
	<head>
		<title>Hololive Schedule Search</title>
		<style>
			section{
				display: grid;
				gap: 10px;
				grid-template-columns: repeat(5, 1fr);
			}
			.Title_tag{
				display: none;
			}
			.Title:hover + .Title_tag{
				display: block;
			}
		</style>
	</head>
	<body>
		<h1>Search Results</h1>
		<h3>Found {{resultNo}} results</h3>
		<section>
			<h4>Title</h4>
			<h4>Streamer</h4>
			<h4>Date</h4>
			<h4>Time</h4>
			<h4>Thumbnail(Link)</h4>
			{% for i in range(0,resultNo)%}
				<div>
					<span class="Title">{{lists[i].Title}}</span>
					<span class="Title_tag" style.display="none">searched tag: {{lists[i].Tag}}</span>
				</div>
				<div onclick="show_tag_collab({{i}})">
					<span>{{lists[i].Streamer}}</span>
					{% if lists[i].Tag=="collab" %}
						<br>
						<span id="{{i}}">{{lists[i].Collab}}</span>
					{% endif %}
				</div>
				
				<span>{{lists[i].Date}}</span>
				<span>{{lists[i].Time}}</span>
				<a href="{{lists[i].Url}}" target="_blank"><img src="{{lists[i].Thumb}}"/></a>
			{% endfor %}
		<section>
		<script>
			function show_tag_collab(i) {
				var tag=document.getElementById(i)
				if(tag.style.display==="none"){
					tag.style.display="block";
				}else{
					tag.style.display="none";
				}
			}
		</script>
		
	</body>
</html>


